@import "../../styles/constants.scss";

.nav_btn {
  background-color: rgba($color: $color-dark, $alpha: 0.75);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  position: fixed;
  right: 1rem;
  z-index: 99;
}
