@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.nav_btn {
  background-color: rgba($color: $color-dark, $alpha: 0.75);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  position: fixed;
  right: 1rem;
  z-index: 99;
  @include flex-center;
  flex-direction: column;
  transition: all 0.2s;
  cursor: pointer;
  @media (hover) {
    &:hover {
      & > span:nth-child(1) {
        transform: translateY(2px);
      }
      & > span:nth-child(3) {
        transform: translateY(-2px);
      }
    }
  }
  & > span {
    $width: 1.5rem;
    width: $width;
    height: 2px;
    background-color: #fff;
    margin-block: 3px;
    transition: all 0.3s;
  }
}

#active_1 {
  margin-block: 0;
  transform: translateY(5px) rotate(45deg);
}
#active_2 {
  opacity: 0;
}
#active_3 {
  transform: translateY(-5px) rotate(-45deg);
  margin-block: 0;
}

.modal {
  transition: all 0.5s;
  background-color: rgba($color: #000, $alpha: 0.4);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 0.2rem;
  width: 15rem;
  height: 20rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  animation: modal-open 0.35s;
  padding: 1rem;
  border-bottom: 4px solid $color-dark;
}

@keyframes modal-open {
  0% {
    opacity: 0;
    transform: translateX(14rem);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Navbar links
.link_container {
  @include flex-center;
  justify-content: flex-start;
  // background-color: green;
  margin-bottom: 1rem;
  &:hover .icon {
    fill: #fff;
  }
  &:hover .icon_container {
    background-color: $color-dark;
    transform: translateX(0.5rem);
  }
  &:hover .link {
    transform: translateX(0.5rem);
  }
}
.link {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: #fff;
  transition: all 0.3s;
}
.icon_container {
  $size: 1.9rem;
  width: $size;
  height: $size;
  @include flex-center;
  border-radius: 0.5rem;
  background-color: $color-bg;
  fill: $color-dark;
  transition: all 0.3s;
}
.icon {
  transition: all 0.3s;
}
