@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.container {
   @include section;
   @include flex-center;
   top: 100vh;
}

.texture {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 50vw;
}
