@import "../../styles/helpers.scss";

.link {
   text-decoration: none;
}

.border_container {
   @include flex-center;
   border-radius: 25px;
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(217, 217, 217, 0) 100%
   );
   padding: 0.3rem;
   border: 1px solid rgba(255, 255, 255, 0.1);
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.container {
   @include flex-center;
   flex-direction: column;
   width: 100%;
   border-radius: 25px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   background: linear-gradient(190deg, #173728 5.62%, #212b25 27.86%, rgba(38, 38, 38, 0) 92.81%);

   color: #fff;
   .cover_img {
      max-width: 90%;
   }
}
