@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.main {
  @include new-page;
  .main_container {
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
  }
  position: relative;
}
.content_container {
  margin-inline: 1rem;
  // background-color: greenyellow;
  @include flex-center;
  flex-wrap: wrap-reverse;
  & > img {
    width: 25vmax;
    margin-block: 2rem;
    @media only screen and (max-width: $breakpoint-mid) {
    }
  }
}
.project_name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: $color-dark;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
#animate {
  animation-name: name-in;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes name-in {
  0% {
    transform: translateX(-2rem);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
