@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.link_box {
  @include flex-center;
  $size: 2rem;
  width: $size;
  height: $size;
  background-color: $color-dark;
  border-radius: 50%;
  margin-inline: 0.25rem;
  transition: all 0.1s;

  @media (hover) {
    &:hover #sitename {
      display: block;
    }
    &:hover {
      //   transform: scale(0.85);
      outline: 2px solid $color-dark;
      outline-offset: 2px;
    }
  }
  & > span {
    display: none;
    background-color: $color-dark;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.35rem;
    font-size: 0.75rem;
    position: absolute;
    top: -2rem;
    animation: link-rise 0.2s;
  }
}

@keyframes link-rise {
  0% {
    transform: translateY(0.3rem);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}
