@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.page_container {
  @include new-page;
  @include flex-center;
  background-color: $color-dark;
  color: #fff;
}

.img {
  width: 60vw;
  @media only screen and (orientation: portrait) {
    height: 60vh;
    width: auto;
  }
}
