@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.page_container {
  @include new-page;
  @include flex-center;
  background-color: $color-dark;
  background-image: linear-gradient(to bottom right, #222, #333333);

  color: #fff;
}

.img {
  width: 55vw;
  @media only screen and (orientation: portrait) {
    height: 60vh;
    width: auto;
  }
}
