@import "../../styles/constants.scss";

.lottie {
   width: 1.25rem;
   fill: #fff;
   color: #fff;
}

.container {
   margin-bottom: 0.75rem;
   width: 100%;

   .flex_row {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.85rem;
      color: #fff;
      font-weight: 500;

      span {
         color: #ae3232;
      }
   }

   input,
   textarea {
      padding: 0.5rem;
      border-radius: 0.25rem;
      margin-top: 0.15rem;
      width: 100%;
      background-color: transparent;
      border: 1px solid #dbdbdb;
      outline: none;
      color: #fff;
      resize: vertical;

      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.05);
   }

   textarea {
      max-height: 7rem;
      min-height: 5rem;

      @media only screen and (max-width: $bp-sm-2) {
         min-height: 15vh;
      }
   }
}
