@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.container {
  // width: 75vmin;
  //   height: 65vmin;
  width: 35vmin;
  height: 65vmin;
  background-color: $color-dark;
  @media only screen and (max-width: 685px) {
    width: 100%;
    height: 30vmin;
    .splash_img {
      height: 100%;
      width: auto;
    }
  }
}

.splash_img {
  width: 100%;
}

.info_box {
  @include flex-center;
  // background-color: red;
  margin-bottom: 0.2rem;
  & > span {
    margin-left: 0.2rem;
    font-size: 0.7rem;
    color: #fff;
    width: 25ch;
  }
}
