@import "../../styles/constants.scss";

.container {
  // width: 75vmin;
  //   height: 65vmin;
  width: 35vmin;
  height: 65vmin;
  background-color: $color-dark;
  @media only screen and (max-width: 685px) {
    width: 100%;
    height: 30vmin;
  }
}
