@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.page_container {
  @include new-page;
  @include flex-center;
  background-color: #fff;
  flex-wrap: wrap;
}

.main_box {
  @include flex-center;
  gap: 2rem;
  // padding: rem;
  // height: 90vh;
}
