@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";
.page_container {
  @include new-page;
  @include flex-center;
  background-image: url("../../public/contact/background.svg");
  background-size: cover;
  background-position: center;
}

.form {
  width: fit-content;
  padding: 2rem;
  background-color: #fff;
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: $breakpoint-mid) {
    padding: 1rem;
    width: 100%;
  }
}

// Inputs
$size: 35vmin;
$margin: 1vmin;

.text {
  margin-bottom: 1.2em;
}
.icon {
  width: $size / 10.5;
  @media (max-width: $breakpoint-mid) {
    width: 1rem;
    margin-right: 0.2rem;
  }
}
.first_row_container {
  width: 100%;
}
.input_box {
  @include flex-center;
  height: $size / 4;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  margin-bottom: $margin;
  padding-left: $margin;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media (max-width: $breakpoint-mid) {
    height: $size / 3;
  }
  & > input {
    margin-left: $margin;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: $color-dark;
    transition: all 0.2s;
    &::placeholder {
      color: #b4b4b4;
    }
    &:focus {
      padding-left: $margin * 0.5;
    }
  }
}

.first_row_container {
  @include flex-center;
}

.inputarea_box {
  height: $size;
  align-items: flex-start;
  @media (max-width: $breakpoint-mid) {
    height: $size * 1.3;
  }
  & > textarea {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: $margin;
    background-color: #fff;
    color: $color-dark;
    transition: all 0.2s;
    &::placeholder {
      color: #b4b4b4;
    }
    &:focus {
      padding-left: $margin + $margin * 0.5;
    }
  }
  .area_icon {
    margin-top: $margin;
  }
}

.name_box {
  margin-right: $margin;
}
.email_box {
  width: 100%;
}
.msg_box {
  width: 100%;
}

.send_btn {
  background-color: $color-dark;
  color: #fff;
  border: none;
  width: 100%;
  height: $size / 4.8;
  @media (max-width: $breakpoint-mid) {
    height: $size / 3;
  }
}
