@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.desc_container {
  color: #fff;
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
}

// email, address
.info_box {
  @include flex-center;
  margin-bottom: 0.5rem;
  & > p {
    font-size: 0.85rem;
  }
}

.info_icon {
  margin-right: 0.5rem;
}

// links below email, address
.links_box {
  @include flex-center;
  margin-top: 2rem;

  .link {
    @include flex-center;
    $size: 1.7rem;
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
  }
  .quicklink_icon {
    fill: $color-dark;
  }
}
