@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.form {
  background-color: #fff;
  width: 80%;
  height: 90%;
  padding: 1rem;
  @include flex-center;
  flex-direction: column;
  align-items: stretch;

  @media only screen and (max-width: $breakpoint-mid) {
    width: 100%;
    padding: 0.7rem;
    height: auto;
    @media only screen and (min-height: 715px) {
      margin-top: -6vh;
    }
  }

  & > h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: $color-dark;
  }

  button {
    background-color: $color-dark;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #fff;
  }
}

.first_row {
  @include flex-center;
  justify-content: space-between;
  gap: 1rem;
}
