@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

.form {
  background-color: #fff;
  padding-block: 1rem;
  width: 35rem;
  width: 40vw;
  & > h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  button {
    background-color: $color-dark;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
}

.first_row {
  @include flex-center;
  justify-content: space-between;
  gap: 1rem;
}
