@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.info_box {
  background-color: $color-dark;
  height: 100vh;
  width: 30vw;
  align-self: stretch;
  @media only screen and (max-width: $breakpoint-lg) {
    display: none;
  }
  @media only screen and (max-width: $breakpoint-mid) {
    display: flex;
    height: 30vh;
    width: 100vw;
  }
}

.box_1 {
  width: 100%;
  height: 50%;
  @include flex-center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../../public/contact/splash_img.jpg");
  background-size: cover;
  @media only screen and (max-width: $breakpoint-mid) {
  }

  .quote_box {
    background-color: rgba($color: #353535, $alpha: 0.6);
    backdrop-filter: blur(3px);
    color: #fff;
    padding: 1rem;
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;

    & > p {
      width: 30ch;
      font-size: 0.85rem;
    }
  }

  @media only screen and (max-width: $breakpoint-mid) {
    height: 100%;
  }
}
.box_2 {
  width: 100%;
  height: 50%;
  @include flex-center;
  @media only screen and (max-width: $breakpoint-mid) {
    display: none;
  }
}

// User
.user_box {
  @include flex-center;
  margin-top: 1rem;
  & > div {
    & > p:nth-child(1) {
      font-size: 0.9rem;
    }

    & > p:nth-child(2) {
      font-size: 0.75rem;
      color: #adadad;
    }
  }
}

.user_img {
  width: 2.7rem;
  filter: grayscale(100%);
  border-radius: 50%;
  margin-right: 0.6rem;
}
