@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.info_box {
  background-color: $color-dark;
  height: 100vh;
  width: 30vw;
  align-self: stretch;
  @media only screen and (max-width: 800px) {
    display: none;
  }
  @media only screen and (max-width: $breakpoint-mid) {
    display: flex;
    height: 30vh;
    width: 100vw;
  }
}

.box_1 {
  width: 100%;
  height: 50%;
  @include flex-center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../../public/contact/splash_img.jpg");
  background-size: cover;

  .quote_box {
    width: 60%;
    height: 50%;
    background-color: rgba($color: #353535, $alpha: 0.6);
    backdrop-filter: blur(3px);
    color: #fff;
  }

  @media only screen and (max-width: $breakpoint-mid) {
    height: 100%;
  }
}
.box_2 {
  width: 100%;
  height: 50%;
  @media only screen and (max-width: $breakpoint-mid) {
    display: none;
  }
}
