@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

$color: #545454;

#area {
  height: 100%;
  justify-content: stretch;
}

.input_container {
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  @media only screen and (max-width: $breakpoint-mid) {
    margin-bottom: 0.7rem;
  }
  .label_cont {
    @include flex-center;
    & > label {
      color: $color;
      font-family: "mr-sb";
    }
    margin-bottom: 0.3rem;
    .lottie {
      transform: translateY(2px);
      width: 1rem;
      margin-right: 0.2rem;
    }
  }
  & > input,
  textarea {
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #7a7a7a;
    border-radius: 0.3rem;
    width: 100%;
    transition: all 0.3s;
    color: $color;

    &:focus {
      border-color: $color;
    }
  }

  & > textarea {
    resize: none;
    min-height: 15rem;
    height: 100%;
    margin-bottom: 1rem;
    @media only screen and (max-width: $breakpoint-mid) {
      min-height: 11rem;
      margin-bottom: 0.5rem;
    }
  }
}
