@import "../../styles/helpers.scss";
@import "../../styles/constants.scss";

$color: #545454;
.input_container {
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;

  & > label {
    margin-bottom: 0.3rem;
    color: $color;
    font-family: "mr-sb";
  }
  & > input,
  textarea {
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #7a7a7a;
    border-radius: 0.3rem;
    width: 100%;
    transition: all 0.3s;
    color: $color;

    &:focus {
      border-color: $color;
    }
  }

  & > textarea {
    resize: none;
    min-height: 15rem;
    // align-self: stretch;
    // justify-self: stretch;
  }
}
