@import "../../styles/constants.scss";

.arrow_svg {
  width: 2.5rem;
  fill: #333333;

  animation: up-down 1s infinite;
}

@keyframes up-down {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
