@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin section {
   width: 100vw;
   height: 100dvh;
   position: absolute;
   left: 0;
   z-index: 2;
   background-color: transparent;
}
