@import "./constants.scss";

.main {
   position: relative;
}

// fixed background gradient for all sections
.bg_gradient {
   z-index: 1;
   width: 100vw;
   height: 100vh;
   position: fixed;
   background: $bg-gradient;
}

.content {
   position: absolute;
   z-index: 2;
}

.home {
   scroll-behavior: smooth;
}
