@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import "../../styles/helpers.scss";

.page_container {
  @include new-page;
  @include flex-center;
  background-color: #fff;
  position: relative;
}

.bg_img {
  width: 50vmin;
  position: absolute;
}

.bg_br {
  bottom: 0;
  right: 0;
  width: 60vmin;
}

.bg_tl {
  top: 0;
  left: 0;
}
