@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

$left-margin: 2rem;
.container {
  & > h2 {
    margin-bottom: 1rem;
  }
  & > p {
    margin-left: $left-margin;
    max-width: 45ch;
    @media only screen and (max-width: $breakpoint-mid-2) {
      width: 70vw;
    }
  }
}

$size: 1.8rem;
$size: 2.1rem;
.mail_btn {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color-dark;
  outline: none;
  border: none;
  margin-left: $left-margin;
  margin-top: 1rem;

  .icon {
    transform: translateY(2px);
    fill: #fff;
  }
}

.resume_btn {
  height: $size;
  background-color: $color-dark;
  outline: none;
  border: none;
  padding-inline: 0.85rem;
  border-radius: 2rem;
  margin-left: 0.75rem;
  color: #fff;
}
