@import "../../styles/constants.scss";
@import "../../styles/helpers.scss";

.container {
  @include flex-center;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 1rem;
  bottom: 1rem;
  @media only screen and (max-width: $breakpoint-mid) {
    bottom: 4rem;
  }
}

.icon_box {
  $size: 1.7rem;
  width: $size;
  height: $size;
  background-color: $color-dark;
  border-radius: 0.2rem;
  margin-right: 0.35rem;
  @include flex-center;
  transition: all 0.35s;

  @media (hover) {
    &:hover {
      transform: translateY(-0.5rem) rotate(5deg);
    }
  }

  .icon {
    fill: #fff;
  }
}
