@import "../../styles/helpers.scss";

.footer_cont {
   @include flex-center;
   position: fixed;
   bottom: 1rem;
   width: 100%;
   z-index: 999;
}

.container {
   @include flex-center;
   z-index: 999;
   gap: 0.85rem;
   border-radius: 30px;
   border: 1px solid #4b4b4b;
   background: rgba(106, 106, 106, 0.2);
   backdrop-filter: blur(2px);
   padding: 0.5rem 1rem;
   transition: all 0.5s;

   &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: rgba(106, 106, 106, 0.4);
      box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
   }

   .line {
      height: 1rem;
      width: 1px;
      background-color: #4b4b4b;
   }

   .icon_btn {
      @include flex-center;
      transition: all 0.25s;
      cursor: pointer;
      color: #878787;

      &:hover {
         // outline: 1px solid #fff;
         // outline-offset: 3px;
         // box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.25);
         // background-color: rgba(255, 255, 255, 0.2);
         // border-radius: 50%;
         color: rgba(255, 255, 255, 0.85);
         transform: translateY(-2px) scale(1.1);
      }
   }
}
