@import "../../styles/helpers.scss";

.footer_cont {
   @include flex-center;
   position: fixed;
   bottom: 1rem;
   width: 100%;
}

.container {
   @include flex-center;
   gap: 0.85rem;
   border-radius: 30px;
   border: 1px solid #4b4b4b;
   background: rgba(106, 106, 106, 0.2);
   backdrop-filter: blur(2px);
   padding: 0.5rem 1rem;

   .line {
      height: 1rem;
      width: 1px;
      background-color: #4b4b4b;
   }
}
